* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border:1px solid black;
}

.output {
    height: 75px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

button {
    width: 70px;
    height: 70px;
    flex: none;
}

.equal, .divide, .subtract, .add, .multiply{
    flex: 1;
}